body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, rgb(58, 58, 58), rgb(140, 135, 135));
    position: relative;
}

/* Styles for the navbar */
header {
    height: 20vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Add margin to the main content to offset the fixed navbar */
main {
    margin-top: 20vh;
    padding: 20px;
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 0 20px;

}

.navbar-icon {
    width: 50px;
    /* Adjust as needed */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-icon img {
    max-width: 100%;
    height: auto;
}

.navbar-search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 50%;
    /* Adjust as needed */
}

.search-button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5c9ead;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #3e758a;
}

/* Updated styles for the movie cards grid */
.movies-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
}

.movie-card {
    width: 150px;
    height: 270px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.movie-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1, 1.1);
}

.movie-card img {
    width: 100%;
    height: 70%;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.movie-card span {
    display: block;
    font-size: 12px;
    overflow: hidden;
    margin: 5px 0px;
}

.btn {
    display: block;
    opacity: 0.5;
    width: 100px;
    height: 30px;
    background-color: #5c9ead;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 0;
    right: 0;

}

.btn:hover {
    background-color: #3e758a;
    opacity: 1;
}

/* Styles for the button */
.open-sidebar-btn {
    position: fixed;
    top: 0;
    right: 0px;
    padding: 10px 20px;
    background-color: #5c9ead;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

/* Styles for the sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #5e5b5b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    overflow-y: auto;
    z-index: 998;
}

.sidebar h2 {
    text-align: center;
    margin-top: 20px;
}

.close-sidebar-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 15px;
    padding: 5px 10px;
    background-color: #5c9ead;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.favorites-list {
    list-style: none;
    padding: 0;
    margin: 10px;
}

/* Styles for the favorite movie cards */
.favorite-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.favorite-card img {
    width: 80px;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.delete-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-btn:hover {
    background-color: #c9302c;
}

.detail-remove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}


/* SINGLE MOVIE PAGE CSS IS STARTING FROM HERE */

.movie-details {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 50px;
    padding: 10px;
    background-color: #a42121;
}

.single-movie {
    width: 60%;
    height: 430px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px black;
}

.other-details {
    margin-left: 10px;
}